{% extends "base.html.twig" %}

{% block body %}
<h1>Accueil</h1>
<p>Ici sera la page d'accueil qui présente toutes les sorties</p>
{% endblock %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}
